export PATH=../cli:$PATH

# export kernel_path=/media/a/data/installers/P/microservices/VMs/firecracker/vmlinux.bin
# export firecraker_socker_path=/home/a/src/vm/firecracker.socket
# rootfs_path=/media/a/data/installers/P/microservices/VMs/firecracker/bionic.rootfs.ext4

export firecraker_tap_id=tap1
export kernel_path=/media/a/data/installers/P/microservices/VMs/firecracker/custom/vmlinux-5.10.0-x86_64.bin
export firecraker_socker_path=/home/a/src/vm/firecracker2.socket
# export rootfs_path=/media/a/data/installers/P/microservices/VMs/firecracker/custom/focal.rootfs_with_partuuid.ext4
export rootfs_path=/media/a/data/installers/P/microservices/VMs/firecracker/custom2/focal.rootfs.ext4

unset PS1
