
dotenv_if_exists ~/.env
dotenv_if_exists ~/.secrets.env
dotenv_if_exists .env.local
dotenv_if_exists .env
dotenv_if_exists .secrets.env
source_env_if_exists .envrc.local

# export PENV=local
if [[ -n "<span>{PENV+x}" && -n "</span>PENV" ]]; then
    # PENV is defined and not empty
    dotenv_if_exists ~/.${PENV}.env
fi

# case $DENV in
#
#   1)
#     dotenv_if_exists local/.1.env
#     ;;
#
#   2)
#     dotenv_if_exists local/.2.env
#     ;;
#
#   3)
#     dotenv_if_exists local/.3.env
#     ;;
#
# esac

unset PS1
