PATH_add cli
PATH_add cli/bin

export nomad_working_dir=$(pwd)

#DIRECTORY=.venv
#if [[ -d "$DIRECTORY" ]]; then
#    source .venv/bin/activate
#fi

export CONSUL_HTTP_ADDR=http://172.16.10.65:8500
export NOMAD_ADDR=http://172.16.10.65:4646


unset PS1
