global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# See: https://ssl-config.mozilla.org/#server=haproxy&server-version=2.0.3&config=intermediate
        ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
        ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
        ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
	log	global
#	mode	http
#	option	httplog
#	option	dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http


frontend tcp_front_exporter_prometheus_port_jaeger1_dev_me
    bind 192.168.0.1:8888
    mode tcp
    use_backend tcp_backend_exporter_prometheus_port_jaeger1_dev_me

backend tcp_backend_exporter_prometheus_port_jaeger1_dev_me
    mode tcp
    server server1 localhost:10000

frontend tcp_front_query_http_host_port_config_jaeger1_dev_me
    bind 192.168.0.1:16686
    mode tcp
    use_backend tcp_backend_query_http_host_port_config_jaeger1_dev_me

backend tcp_backend_query_http_host_port_config_jaeger1_dev_me
    mode tcp
    server server1 localhost:10001

frontend tcp_front_query_grpc_host_port_config_jaeger1_dev_me
    bind 192.168.0.1:16685
    mode tcp
    use_backend tcp_backend_query_grpc_host_port_config_jaeger1_dev_me

backend tcp_backend_query_grpc_host_port_config_jaeger1_dev_me
    mode tcp
    server server1 localhost:10002

frontend tcp_front_remote_sampling_http_port_config_jaeger1_dev_me
    bind 192.168.0.1:5778
    mode tcp
    use_backend tcp_backend_remote_sampling_http_port_config_jaeger1_dev_me

backend tcp_backend_remote_sampling_http_port_config_jaeger1_dev_me
    mode tcp
    server server1 localhost:10003

frontend tcp_front_remote_sampling_grpc_port_config_jaeger1_dev_me
    bind 192.168.0.1:5779
    mode tcp
    use_backend tcp_backend_remote_sampling_grpc_port_config_jaeger1_dev_me
 
backend tcp_backend_remote_sampling_grpc_port_config_jaeger1_dev_me
    mode tcp
    server server1 localhost:10004

frontend tcp_front_otlp_grpc_port_config_jaeger1_dev_me
    bind 192.168.0.1:4317
    mode tcp
    use_backend tcp_backend_otlp_grpc_port_config_jaeger1_dev_me

backend tcp_backend_otlp_grpc_port_config_jaeger1_dev_me
    mode tcp
    server server1 localhost:10005

frontend tcp_front_otlp_http_port_config_jaeger1_dev_me
    bind 192.168.0.1:4318
    mode tcp
    use_backend tcp_backend_otlp_http_port_config_jaeger1_dev_me

backend tcp_backend_otlp_http_port_config_jaeger1_dev_me
    mode tcp
    server server1 localhost:10006

frontend tcp_front_jaeger_protocols_grpc_port_config_jaeger1_dev_me
    bind 192.168.0.1:14250
    mode tcp
    use_backend tcp_backend_jaeger_protocols_grpc_port_config_jaeger1_dev_me

backend tcp_backend_jaeger_protocols_grpc_port_config_jaeger1_dev_me
    mode tcp
    server server2 localhost:10007

frontend tcp_front_jaeger_protocols_thrift_http_port_config_jaeger1_dev_me
    bind 192.168.0.1:14268
    mode tcp
    use_backend tcp_backend_jaeger_protocols_thrift_http_port_config_jaeger1_dev_me

backend tcp_backend_jaeger_protocols_thrift_http_port_config_jaeger1_dev_me
    mode tcp
    server server2 localhost:10008

frontend tcp_front_jaeger_protocols_thrift_binary_port_config_jaeger1_dev_me
    bind 192.168.0.1:6832
    mode tcp
    use_backend tcp_backend_jaeger_protocols_thrift_binary_port_config_jaeger1_dev_me

backend tcp_backend_jaeger_protocols_thrift_binary_port_config_jaeger1_dev_me
    mode tcp
    server server2 localhost:10009

frontend tcp_front_jaeger_protocols_thrift_compact_port_config_jaeger1_dev_me
    bind 192.168.0.1:6831
    mode tcp
    use_backend tcp_backend_jaeger_protocols_thrift_compact_port_config_jaeger1_dev_me

backend tcp_backend_jaeger_protocols_thrift_compact_port_config_jaeger1_dev_me
    mode tcp
    server server2 localhost:10010

frontend tcp_front_zipkin_port_config_jaeger1_dev_me
    bind 192.168.0.1:9411
    mode tcp
    use_backend tcp_backend_zipkin_port_config_jaeger1_dev_me

backend tcp_backend_zipkin_port_config_jaeger1_dev_me
    mode tcp
    server server2 localhost:10011



frontend tcp_front_maria1_dev_me
    bind 192.168.0.2:3306
    mode tcp
    use_backend tcp_backend_maria1_dev_me

backend tcp_backend_maria1_dev_me
    mode tcp
    server server1 localhost:10012


frontend tcp_front_cassandra1_dev_me
    bind 192.168.0.3:9042
    mode tcp
    use_backend tcp_backend_cassandra1_dev_me

backend tcp_backend_cassandra1_dev_me
    mode tcp
    server server1 localhost:10013


frontend tcp_front_cassandra2_dev_me
    bind 192.168.0.4:9042
    mode tcp
    use_backend tcp_backend_cassandra2_dev_me

backend tcp_backend_cassandra2_dev_me
    mode tcp
    server server1 localhost:10014


frontend tcp_front_schemaRegistryPortConfigredpanda1_dev_me
    bind 192.168.0.5:18081
    mode tcp
    use_backend tcp_backend_schemaRegistryPortConfigredpanda1_dev_me

backend tcp_backend_schemaRegistryPortConfigredpanda1_dev_me
    mode tcp
    server server1 localhost:10015

frontend tcp_front_pandaProxyPortConfigredpanda1_dev_me
    bind 192.168.0.5:18082
    mode tcp
    use_backend tcp_backend_pandaProxyPortConfigredpanda1_dev_me

backend tcp_backend_pandaProxyPortConfigredpanda1_dev_me
    mode tcp
    server server1 localhost:10016

frontend tcp_front_portConfigredpanda1_dev_me
    bind 192.168.0.5:19092
    mode tcp
    use_backend tcp_backend_portConfigredpanda1_dev_me

backend tcp_backend_portConfigredpanda1_dev_me
    mode tcp
    server server1 localhost:10017

frontend tcp_front_adminApiPortConfigredpanda1_dev_me
    bind 192.168.0.5:9644
    mode tcp
    use_backend tcp_backend_adminApiPortConfigredpanda1_dev_me

backend tcp_backend_adminApiPortConfigredpanda1_dev_me
    mode tcp
    server server1 localhost:10018

frontend tcp_front_consolePortConfigredpanda1_dev_me
    bind 192.168.0.5:8080
    mode tcp
    use_backend tcp_backend_consolePortConfigredpanda1_dev_me

backend tcp_backend_consolePortConfigredpanda1_dev_me
    mode tcp
    server server1 localhost:10019



frontend tcp_front_keycloak1_dev_me
    bind 192.168.0.6:8087
    mode tcp
    use_backend tcp_backend_keycloak1_dev_me

backend tcp_backend_keycloak1_dev_me
    mode tcp
    server server1 localhost:10020


frontend tcp_front_minio1_dev_me
    bind 192.168.0.7:9011
    mode tcp
    use_backend tcp_backend_minio1_dev_me

backend tcp_backend_minio1_dev_me
    mode tcp
    server server1 localhost:10021

frontend tcp_front_console_minio1_dev_me
    bind 192.168.0.7:9012
    mode tcp
    use_backend tcp_backend_console_minio1_dev_me

backend tcp_backend_console_minio1_dev_me
    mode tcp
    server server1 localhost:10022



frontend tcp_front_mongodb1_dev_me
    bind 192.168.0.8:27017
    mode tcp
    use_backend tcp_backend_mongodb1_dev_me

backend tcp_backend_mongodb1_dev_me
    mode tcp
    server server1 localhost:10023


frontend tcp_front_nats1_dev_me
    bind 192.168.0.9:14222
    mode tcp
    use_backend tcp_backend_nats1_dev_me

backend tcp_backend_nats1_dev_me
    mode tcp
    server server1 localhost:10024
