[Desktop Entry]
Version=1.0
Exec=/usr/local/bin/appslnx/web/HTTPie.AppImage -- %u
Terminal=false
Icon=/usr/local/bin/appslnx/web/HTTPie.png
Name=HTTPie
Terminal=false
Type=Application
StartupWMClass=HTTPie
Comment=API Client
Categories=Development;
                          
MimeType=text/html;x-scheme-handler/httpie;
