export PATH=./cli/:~/appslnx/elixir-dev-bin/:$PATH

export RELEASE_OS=centos7
#export RELEASE_OS=ubuntu1804
export RELEASE_NAME=payment_services
export S3_RELEASE_BUCKET=sb-payments-releases
export RELEASE_VSN=0.1.0
export EC2_INSTANCE_FILTERS='tag:type=payment*'
export AWS_EC2_INSTANCE_ROLE=arn:aws:iam::957382640169:role/get-parameters-store
export AWS_AMI_ID=ami-0f2b4fc905b0bd1f1
export SRC_PATH=/home/a/src/a/sb/POCs/git-shell/payment
