[Desktop Entry]
Name=logseq
Exec=/usr/local/bin/appslnx/tools/edition/LogseqDB/client-runner.sh
Terminal=false
Type=Application
Icon=/usr/local/bin/appslnx/tools/edition/LogseqDB/logseq.png
StartupWMClass=Logseq
X-AppImage-Version=0.10.9
Comment=A privacy-first, open-source platform for knowledge management and collaboration.
MimeType=x-scheme-handler/logseq
Categories=Utility
