[Desktop Entry]
Name=DB Browser for SQLite
Comment=DB Browser for SQLite is a light GUI editor for SQLite databases
Exec=/usr/local/bin/appslnx/db/sqlite/DB-Browser-for-SQLite/squashfs-root/AppRun %f
Icon=/usr/local/bin/appslnx/db/sqlite/DB-Browser-for-SQLite/sqlitebrowser.svg
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Development;Utility;Database;
MimeType=application/vnd.db4s-project+xml;application/sqlitebrowser;application/x-sqlitebrowser;application/vnd.sqlite3;application/geopackage+sqlite3;application/x-sqlite2;application/x-sqlite3;text/csv;
StartupWMClass=sqlitebrowser
X-AppImage-Version=dev-656651a
