 defaults
    mode tcp
    timeout connect 50000ms
    timeout client 500000ms
    timeout server 500000ms
    option tcplog

frontend tcp_front
    bind *:3306
    mode tcp
    use_backend tcp_backend

backend tcp_backend
    mode tcp
    server server1 mariadb-1:3306 send-proxy

frontend tcp_front2
    bind *:3307
    mode tcp
    use_backend tcp_backend2

backend tcp_backend2
    mode tcp
    server server1 mariadb-2:3306 send-proxy
