[Desktop Entry]
Version=1.0
Exec=/usr/local/bin/appslnx/tools/edition/LosslessCut/bin/losslesscut
Terminal=false
Icon=/usr/local/bin/appslnx/tools/edition/LosslessCut/losslesscut.png
Name=LosslessCut
Terminal=false
Type=Application
Comment=Video editing
Categories=Development;

MimeType=x-scheme-handler/losslesscut;x-scheme-handler/notes;
