[Desktop Entry]
Name=OpenShot Video Editor
GenericName=Video Editor
X-GNOME-FullName=OpenShot Video Editor
Comment=Create and edit amazing videos and movies
Exec=/usr/local/bin/appslnx/tools/edition/OpenShot/squashfs-root/AppRun %F
Terminal=false
Type=Application
Icon=/usr/local/bin/appslnx/tools/edition/OpenShot/openshot-qt.svg
Categories=GNOME;GTK;AudioVideo;Video;AudioVideoEditing;
MimeType=application/vnd.openshot-qt-project;
X-AppInstall-Package=openshot-qt